.underline-effect {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.underline-effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #5334db;
  transition: width 0.3s ease-in-out;
}

.underline-effect:hover::after {
  width: 100%;
}