@import "./css/all.min.css";
@import "./css/app.css";
@import "./css/auth.css";
@import "./css/bootstrap.min.css";
@import "./css/main.css";
@import "./css/notification.css";
@import "./css/owl.carousel.min.css";
@import "./css/profile.css";
@import "./css/_home.css";
@import "./css/w3.css";
@import "bootstrap";

.search-btn {
  cursor: pointer;
  background: #294780;
  font-size: 15px !important;
  font-weight: 700;
  width: 110px;
  height: 33px;
  border-radius: 3px;
  border: 0;
  margin-left: 10px;
  color: white;
  -webkit-appearance: button;
  font-family: Manrope !important;
}

.avatar-hover {
  font-weight: 600;
  color: #333333;
}

.avatar-hover:hover {
  color: #294780;
}

.img-avatar {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.search-btn:hover {
  background: #061ACC;
}

.search-btn:active {
  background: #294780;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền đục */
  z-index: 1000; /* Đảm bảo nằm trên các phần tử khác */
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@keyframes padding-expand {
  from {
    left: 80px;
  }
  to {
    left: 200px;
  }
}

@keyframes padding-collapse {
  from {
    left: 200px;
  }
  to {
    left: 80px;
  }
}

.expanded {
  animation: padding-expand 0.2s ease-in-out forwards;
}

.collapsed {
  animation: padding-collapse 0.2s ease-in-out forwards;
}